<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Mensaje</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Codigo</th>
                        <th>Texto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mensaje of mensajes" class="text-center">
                        <td>{{mensaje.id}}</td>
                        <td>{{mensaje.codigo}}</td>
                        <td>{{mensaje.texto}}</td>
                        <td>
                            <button (click)="Editar(mensaje)" class="btn btn-warning">Editar</button>
                            <button (click)="Eliminar(mensaje)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>