<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <button (click)="Listar()" class="btn btn-info">Lista</button>
            <button (click)="Nuevo()" class="btn btn-info">Nuevo</button>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
