<div class="container col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Agregar Mensaje</h3>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Codigo</label>
                        <input [(ngModel)]="mensaje.codigo" name="codigo" type="text" maxlength="5" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Texto</label>
                        <input [(ngModel)]="mensaje.texto" name="texto" type="text" maxlength="20" class="form-control">
                    </div>
                    <button (click)="Actualizar(mensaje)" class="btn btn-danger">Actualizar</button>
                </form>
               
            </div>
        </div>
    </div>
